@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<div class='master-container'>

<div class='channel-container' ></div>
<div class='channel-container' ></div>
<div class='channel-container' ></div>
<div class='channel-container' ></div>

</div>

</div>
